.button {
    font: inherit;
    border: 1px solid #4F005F;
    background: #4F005F;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin-right: 10px;
}
.button:hover, .button:active {
    background: #741188;
    border-color: #741188;
}
.button:focus {
    outline: none;
}









